body{
    background-color: #427EE6;
    background-image: url("movie-background.png");
    background-size: cover;
    height: 100%;
    color: #37403E;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}
h1 {
    padding-top: 1em;
    font-size: 3.5em;
    font-family: "Noto Sans JP", sans-serif;
}
h1, h2 {
    color: seashell;
}
form {
    text-align: left;
    color: seashell;
}

.container {
    position: relative;
    text-align: center;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    /*background-color: #111;*/
    overflow-x: hidden;
    /*transition: 0.5s;*/
    padding-top: 160px;
    padding-left: 8px;
}
.main {
    margin-left: 160px;
    padding: 0px 10px;
}

.hide-on-load{
    display: none;
}

/*.middleMovies{*/
/*    width: 100%;*/
/*}*/
.movieCenter {
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .5);
    background-color: #8EB7D8;
    color: black;
    font-size: large;
    font-family: "Noto Sans JP", sans-serif;
}

/*.tr{*/
/*    padding: 1em;*/
/*}*/

#bottomStuff{
    float: right;
}