body{
    background-color: #427EE6;
    background-image: url("movie-background.png");
    background-size: cover;
    height: 100%;
    color: #37403E;
    font-family: "Noto Sans JP", sans-serif;
}

html, body {
    height: 100%;
}
h1 {
    padding-top: 1em;
}
h1, h2 {
    color: seashell;
}
form {
    text-align: left;
    color: seashell;
}

.container {
    position: relative;
    text-align: center;
}

.hide-on-load{
    display: none;
}

/*.tbody {*/
/*    padding: 1em;*/
/*}*/
.movieCenter {
    /*margin: 0 auto;*/
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .5);
    background-color: #8EB7D8;
    font-size: large;
    /*left: 50%;*/
}
.tbody {
    /*margin: 0 auto;*/
    /*text-align: center;*/

}

.tr{
    padding: 1em;
}

#bottomStuff{
    float: right;
}
